html {
	font-size: 16px;
}

body {
	font-family: 'Montserrat', Helvetica, Arial, sans-serif;
	font-size: 1em;
	display: flex;
	justify-content: center;
	align-items: center;
}

.container{
	max-width: 1200px;
	width: 90%;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-flow: row wrap;
	margin: 0 auto;
}

h1,
h2,
h3 {
	color: black;
	text-transform: uppercase;
	font-weight: 700;
}
h1 {
	font-size: 1.875em;
}
h2 {
	font-size: 1.125em;
}
h3 {
	font-size: 0.75em;
}

p {
	font-size: 0.875em;
	line-height: 21px;
    /* padding: 0 30px; */
}

header {
	border-bottom: 3px solid #77a466;
	width: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-flow: row wrap;
	margin: 0 auto;
}

header h1 {
	/* float: left; */
	border-bottom: 3px solid #77a466;
	width: 100%;
	text-align: center;
	margin: 0;
	padding: 38px 0;
}
header h1 span {
	color: #77a466;
}

header nav {
	width: 100%;
	/* padding: 46px 0; */
}
header nav ul {
	width: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-flow: row wrap;
	margin: 0;
	padding: 0;
}
header nav ul li {
	width: 100%;
	text-transform: uppercase;
	text-align: center;
	font-weight: 700;
	font-size: 0.875em;
	padding: 20px;
	display: inline;
}
header nav ul li a{
	text-decoration: none;
	color:#77a466;
}

/*The widths are in a percentage!*/
.top-section,
.bottom-section {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-flow: row wrap;
	margin: 0 auto;
}

.main-image {
	height: auto;
}
.main-image img {
	width: 100%;
	border-bottom: 3px solid #77a466;
}

.main-title {
	height: auto;
}
.main-title h2 {
	text-align: left;
	padding: 5px 0;
	color: #77a466;
}
.main-title p {
	padding: 0;
	font-size: 1em;
	line-height: 25px;
}

.section-one,
.section-two,
.section-three {
	width: 100%;
	height: auto;
	border-top: 1px solid #eee;
}

.bottom-section h3 {
	padding: 10px 0;
}

/* .section-two {
	border-left: 1px solid #eee;
	border-right: 1px solid #eee;
} */

/* .section-two h3,
.section-three h3 {
	padding: 10px 30px;
} */

.menu {
	list-style: none;
	padding: 0;
}
.menu li {
	padding: 10px 0;
	color:#77a466;
}

.reviews {
	color: #333;
	font-size: 1em;
	line-height: 21px;
}

.address {
	font-size: 1em;
	line-height: 24px;
}

footer {
	border-top: 3px solid #eee;
	width: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
	margin: 0 auto;
	text-align: center;
}
footer span {
	font-family: 'Galada', cursive;
	text-transform: lowercase;
	color: #77a466;
	font-size: 0.875em;
}

@media all and (min-width: 768px) {
	/* Tablet styles here */
	header nav ul {
		flex-flow: row nowrap;
	}

	.bottom-section {
		flex-flow: row nowrap;
		align-items: stretch;
	}

	.section-two {
		border-left: 1px solid #eee;
		border-right: 1px solid #eee;
	}

	.section-one {
		padding: 0 30px 0 0;
	}

	.section-two,
	.section-three {
		padding: 0 30px;
	}

}

@media all and (min-width: 1200px) {
	/* Desktop styles here */
	header {
		flex-flow: row nowrap;
		justify-items: space-between;
		margin-top: 20px;
	}	

	header h1 {
		border-bottom: none;
		text-align: left;
	}
}